// HEADER
@mixin mpb {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin wm {
    width: 80%;
    margin: 0 auto;
}

@mixin ul-top-bot {
    list-style-type: $list-style-none;
    display: flex;
}

// MAIN
