// COLORI
$color-blue: #009cff;
$color-li-top: #989898;
$text-color-w: white;
$color-chevron: #878787;

// PADDING
$padding-ul-bot: 13px 25px 15px 25px;

// STYLE AND DECORATION
$text-decoration-n: none;
$list-style-none: none;
